{% extends 'base.html.twig' %}

{% block title %}Application error{% endblock %}

{% block content %}
    <h1>Sorry, we are unable to process your request at this time. Please try again later.</h1>
{% endblock %}
