[database]
mysql_host = "MYSQL_HOST"
mysql_port = "MYSQL_PORT"
mysql_user = "root"
mysql_pass = "MYSQL_PASSWORD"

[elasticsearch]
elasticsearch_host = "ELASTICSEARCH_HOST"
elasticsearch_user = "ELASTICSEARCH_USER"
elasticsearch_pass = "ELASTICSEARCH_PASS"